<!DOCTYPE html>
<html ng-app="Lyra">
<head>
  <title>Lyra</title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-36439485-3', 'auto');
    ga('send', 'pageview');

  </script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
</head>
<body ng-controller="LyraController" ng-cloak>
<div class="col-left">
  <div class="decision-maker">
    <div ng-show="decision" class="decision-container text-center">
      <div class="btn-decision" ng-click="decide(decision.a, decision.b)">
        <p class="img-container"><img ng-src="{{ decision.a.albumArtLocation }}"></p>
        <h2>{{ decision.a.title }}</h2>
        <h3>{{ decision.a.artist }}</h3>
      </div>
      <div class="btn-decision" ng-click="decide(decision.b, decision.a)">
        <p class="img-container"><img ng-src="{{ decision.b.albumArtLocation }}"></p>
        <h2>{{ decision.b.title }}</h2>
        <h3>{{ decision.b.artist }}</h3>
      </div>
    </div>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="/javascripts/sorter.js"></script>
</body>
</html>
